DATABASE_URL=postgres://localhost/rhizome
RHIZOME_AUTH_MODE=dev
RHIZOME_BASE_URL=http://localhost:3000
RHIZOME_BLOB_DRIVER=fs
RHIZOME_BLOB_FS_ROOT=.rhizome/blobs

# R2/S3 configuration when RHIZOME_BLOB_DRIVER=r2
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ELEMENTS_BUCKET=elements
R2_ORIGINS_BUCKET=origins
R2_BUNDLES_BUCKET=bundles
R2_ASSETS_BUCKET=assets

VITE_RHIZOME_API_URL=http://localhost:3000
